{#<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">#}
<html>
    <head>
        {% if title %}
        <title>Deployer - {{ title }}</title>
        {% else %}
        <title>Deployer</title>
        {% endif %}
    </head>
    <body style="background: #333; color: #fc0;">
        <span>Current host is {{ session.get('host') }}:{{ session.get('port') }}</span><br>
        <span>Last unpacked zip: {{ session.get('zip') }}</span>
        <div style="width: 100%">
{#            <span>Текущий пользователь: {{ user.username }}</span>#}
            <a href="{{ url_for('index') }}" style="color: #fc0">Home</a>
            <a href="{{ url_for('readme') }}" style="color: #fc0">Readme</a>

{#            ##########  раскомментить если потребуется авторизация  ##########        #}
{#            {% if current_user.is_anonymous %}#}
{#                <a href="{{ url_for('login') }}">Login</a>#}
{#            {% else %}#}
{#                <a href="{{ url_for('logout') }}">Logout</a>#}
{#            {% endif %}#}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </body>
</html>

