{% extends "base.html" %}

{% block content %}
    <form action={{ current_url }} method="post">
        {{ form.hidden_tag() }}
        <div style="display: table">
            <div style="display: table-row">
                <span style="display: table-cell; margin-right: 15px">{{ form.host.label }}</span>
                {{ form.host(size=20) }}
{#                {% for error in form.host.errors %}#}
{#                    <span style="color: red;">[{{ error }}]</span>#}
{#                {% endfor %}#}
            </div>
            <div style="display: table-row">
                <span style="display: table-cell; margin-right: 15px">{{ form.port.label }}</span>
                {{ form.port(size=15) }}
{#                {% for error in form.port.errors %}#}
{#                    <span style="color: red;">[{{ error }}]</span>#}
{#                {% endfor %}#}
                <span>{{ form.submit() }}</span>
            </div>
            <button style="display: table-cell; margin-right: 15px" onclick="window.location.href='{{ url_for('clean_session') }}'">Clean Session</button>
        </div>
    </form>
    <Br>
        <button style="display: table-cell; margin-right: 15px" onclick="window.location.href='{{ url_for('undeploy') }}'">Undeploy Menu</button>
        <button style="display: table-cell; margin-right: 15px" onclick="window.location.href='{{ url_for('deploy') }}'">Deploy Menu</button>
        <button style="display: table-cell; margin-right: 15px" onclick="window.location.href='{{ url_for('variables') }}'">Change variables</button>
        <button style="display: table-cell; margin-right: 15px" onclick="window.location.href='{{ url_for('configurations') }}'">Change configurations</button>
{% endblock %}
