{% extends "base.html" %}
{% block content %}
    <body>
        <form> <!--action="http://10.127.242.199:5000/">-->
            <b>Хост:</b><br>
            <input type="text" size="15">
            <input type="text" size="5">
            <input type="submit" value="ок">
        </form>
        <form>
            <a href="{{ url_for('variables') }}">variables</a>
            <a href="{{ url_for('configurations') }}">configurations</a>
            <a href="{{ url_for('deploy') }}">deploy</a>
            <a href="{{ url_for('undeploy') }}">undeploy</a>
        </form>
    </body>
{% endblock %}


