{% extends "base.html" %}
{% block content %}
    <span> Last action: {{ result }} on {{ session.get('host') }}:{{ session.get('port') }}</span>
    <br>
    <button style="display: table-cell; margin-right: 15px; background: #fc0" onclick="window.location.href='{{ url_for('deploy') }}'">Deploy New</button><br><br>
    <fieldset>
        <legend><b> Service-Assemblies on {{ session.get('host') }}:{{ session.get('port') }} </b></legend>
        <form action={{ url_for('SA_menu') }} method="post">
		    <table>
                <tr>
                    <td><input type="submit" name = "action" value="start" size="10" style="width:100px; background: #4a4a4a; color: #fc0"></td>
                    <td><input type="submit" name = "action" value="stop" size="10" style="width:100px; background: #4a4a4a; color: #fc0"></td>
                    <td><input type="submit" name = "action" value="shutdown" size="10" style="width:100px; background: #4a4a4a; color: #fc0"></td>
                    <td><input type="submit" name = "action" value="undeploy" size="10" style="width:100px; background: #4a4a4a; color: #fc0"></td>
                </tr>
			</table>
            <br>
            <table>
                {% for SA in SAs %}
                    {% if SAs[SA] == "started" %}
                        <tr>
                            <td>
                                <input type="checkbox" name="SAs" value="{{ SA }}">
                            </td>
                            <td style="width:350px; color: #fc0">
                                <span> {{ SA }} </span>
                            </td>
                            <td style="width:150px; color: #fc0">
                                <span> {{ SAs[SA] }} </span>
                            </td>
                        </tr>
                    {% elif SAs[SA] == "stopped" %}
                        <tr style="background: #16171f">
                            <td>
                                <input type="checkbox" name="SAs" value="{{ SA }}">
                            </td>
                            <td style="width:350px; color: #fc0">
                                <span> {{ SA }} </span>
                            </td>
                            <td style="width:150px; color: #fc0">
                                <span> {{ SAs[SA] }} </span>
                            </td>
                        </tr>
                    {% else %}
                        <tr style="background: #390406">
                            <td>
                                <input type="checkbox" name="SAs" value="{{ SA }}">
                            </td>
                            <td style="width:350px; color: #fc0">
                                <span> {{ SA }} </span>
                            </td>
                            <td style="width:150px; color: #fc0">
                                <span> {{ SAs[SA] }} </span>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </form>
    </fieldset>
{% endblock %}